#root{
  box-sizing: none;
}

*{
  font-family: "Montserrat", sans-serif
}
.container-fluid{
  background-image: url(../src/fondo.jpg);

  
}
.titulo{  
  margin:auto;
  background-color:rgb(252, 247, 181);
  color:black;
  text-align:center; 
  padding-top:8%;
  padding-bottom: 2%;
  border-bottom: 4px solid black;
}


#subtitulo{  
  font-size:0.8em;
  margin-top:-0.70%
}

.itemNav:hover{
  cursor:pointer;
  border-bottom:2px solid black

}

.itemNav{
  padding-top: 1% ;
  font-family: 'Quicksand', sans-serif;
  color:black;
  font-weight: bolder;
  font-size:1.1em
}
h4{
  font-family: 'Quicksand', sans-serif;
}

nav{  
  margin-top:2%;
  padding:0% 2% 0% 2%;
  background-color:  rgba(255, 230, 230, 0.4);
  border-radius:5px
}

input{
  margin-top:5%;
  margin-left: 2%;
  border-radius:5px;
  
}
.noticia{
  padding-top: 1%;
  background-color: rgb(248, 248, 248);
  margin:2%;
  border-radius:8px
}
img{
  padding: 0.3rem;
}
.noticia:hover{
  box-shadow: 2px 2px 2px 2px black;
  
}
h6{
  font-size:0.9em;
 
}
h6:hover{
 font-size:1em;
  cursor:pointer
}
.comentarios{
  border-top:2px solid black;
  border-radius:8px;
  margin:2%;
  padding-top: 2%;
  font-size: 0.9em
}


.footer{
  height:20rem;
  align-items: center;
  border-top: 4px solid black;
  margin-top:4%;
  padding-top: 2%;
  justify-content: center;
  background-color: rgba(238, 113, 255,0.9);
}
